
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body{
    font-family: 'Ubuntu', sans-serif;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.header{
    position: relative;
    min-height: 60vh;
    background: url("./bg_image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
a{
    text-decoration: none;
    color: white;
}
.container{
    max-width: 1200px;
    margin: auto;
    width: 90%;
}
.logo{
    margin-top: .5rem;
}
.nav{
    display: flex;
    justify-content: space-between;
    min-height: 8vh;
}
.nav-items{
    width: 40%;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
}
li{
    display: flexbox;
    
    /* border: 1px solid black; */
}
.headline{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.btn{
    display: inline-block;          /* block but size is span */
    outline: none;
    border: none;
    cursor: pointer;
}
.btn-headline{
    padding: 1rem 2rem;         /*deafualt size of htmp 16px 1rem=16px*/
    font-size: 1rem;
    margin-top: .5rem;
    font-weight: 600;
}
.todosection{
    margin-top: 2rem;
    text-align: center;
}
/* .bg-dark{
    background: rgb(32, 193, 199);
    color: yellow;
    border: 2px solid red;
} */
.formList{
    margin-top: .5rem;
    min-height:5.5vh;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
}
.formList input{
    min-height: 100%;
}
.formList input[type="text"]{
    width: 78%;
    padding: .5rem;
    font-weight:600;
    font-size: 1rem;

}
.formList input[type="submit"]{
    background-color: rgb(35 , 70, 84);
    width: 20%;
    font-weight: bold;
    color: white;
}
.todo-list{
    text-align: left;
    font-size: 1.3rem;
    list-style: none;
}
.todo-list li{
    padding: .7rem;
    background-color: rgb(27, 78, 100);
    color: white;
    text-transform: capitalize;
    margin-top: .8rem;
}
.Heading-two{
    font-size: 30px;
}
.section-signup{
    margin: 3rem auto;
    text-align: center;
    background-color: rgb(214, 237, 255);
    padding: 2rem;
}
.signup-form{
    max-width: 800px;
    min-width: 90%;
    text-align: left;
    margin: auto;
}
.signup-form label{
    display: block;
}
.signup-form input{
    display: block;
    width: 100%;
    padding: .5rem;
}
.form-group{
    margin-top: 1rem; 
}
.signup-form textarea{
    width: 100%;
}
.signup-btn{
    background: rgb(35 , 70, 84);
    color: white;
    padding: 1rem 2rem;
    display: block;
    margin: auto;
    margin-top: 1rem;
    width: 100%;
    text-align: center;     /*change display to block to align submit to center*/
}